<ion-content>
  <img id="logo" src="../../assets/images/logo.png">
  
  <form>
    <div>
      <span style="display:block; width:90%; margin: 15px; font-weight: 900;">Has olvidado tu contrase&ntilde;a?</span>
      <span style="display:block; width:90%; margin: 15px;">
        Sigue estos simples pasos para actualizarla.
      </span>
      <span style="display:block; width:90%; margin: 15px;font-size: 11px;">
        1. Ingrese su correo electronico, el que usa para iniciar sesion.
      </span>
      <span style="display:block; width:90%; margin: 15px;font-size: 11px;">
        2. Recibiras un mensaje con un enlace para crear una nueva contrase&ntilde;a.
      </span>
      
    </div>
    <ion-item lines="full">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="mecanica" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>

    
  </form>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="mecanica" expand="block" (click)="gotologin()">O inicia sesi&oacute;n</ion-button>
    </ion-col>
  </ion-row>
</ion-content>